[package]
name = "Syuparn/wcgi-access-counter"
version = "0.1.0"
description = "access counter cgi created by https://github.com/wasmerio/wcgi-rust-template"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/Syuparn/wcgi-access-counter"

[[module]]
name = "access-counter"
source = "target/wasm32-wasi/release/wcgi-access-counter.wasm"
abi = "wasi"

[[command]]
name = "access-counter"
runner = "https://webc.org/runner/wcgi"
module = "wcgi"
annotations = { wcgi = { dialect = "rfc-3875" } }

[fs]
"counter" = "counter"
